*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
IMKit/build/generated/assets/
IMKit/build/generated/res/
IMKit/build/generated/source/aidl/
IMKit/build/generated/source/rs/
IMKit/build/intermediates/bundles/debug/aidl/
IMKit/build/intermediates/bundles/debug/assets/
IMKit/build/intermediates/bundles/release/aidl/
IMKit/build/intermediates/bundles/release/assets/
IMKit/build/intermediates/exploded-aar/RongStudy/IMLib/unspecified/aidl/
IMKit/build/intermediates/exploded-aar/RongStudy/IMLib/unspecified/assets/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/23.0.1/assets/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/23.0.1/libs/
IMKit/build/intermediates/exploded-aar/com.android.support/support-v4/23.0.1/res/
IMKit/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
IMKit/build/intermediates/incremental/mergeDebugResources/aapt-temp/
IMKit/build/intermediates/incremental/packageDebugAndroidTest/
IMKit/build/intermediates/incremental/packageDebugResources/aapt-temp/
IMKit/build/intermediates/incremental/packageReleaseResources/aapt-temp/
IMKit/build/intermediates/incremental/processDebugAndroidTestResources/
IMKit/build/intermediates/incremental/processDebugResources/
IMKit/build/intermediates/lint/
IMKit/build/intermediates/manifest/tmp/
IMKit/build/intermediates/rs/
IMKit/build/intermediates/shaders/
IMLib/build/generated/assets/
IMLib/build/generated/res/
IMLib/build/generated/source/aidl/
IMLib/build/generated/source/rs/
IMLib/build/intermediates/bundles/debug/aidl/
IMLib/build/intermediates/bundles/debug/assets/
IMLib/build/intermediates/bundles/default/aidl/
IMLib/build/intermediates/bundles/default/assets/
IMLib/build/intermediates/bundles/release/aidl/
IMLib/build/intermediates/bundles/release/assets/
IMLib/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
IMLib/build/intermediates/incremental/packageDebugAndroidTest/
IMLib/build/intermediates/incremental/packageDebugResources/aapt-temp/
IMLib/build/intermediates/incremental/packageReleaseResources/aapt-temp/
IMLib/build/intermediates/incremental/processDebugAndroidTestResources/
IMLib/build/intermediates/incremental/processDebugResources/
IMLib/build/intermediates/lint/
IMLib/build/intermediates/manifest/tmp/
IMLib/build/intermediates/rs/
IMLib/build/intermediates/shaders/
IMKit/build/intermediates/incremental/mergeDebugResources/merged.dir/
IMKit/build/intermediates/res/merged/debug/
